---
layout: default
---
<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-item">
    <h2 class="post-item-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}{% if post.tags.size > 0 %} &middot; {{ post.tags | join: ", " }}{% endif %}</p>
    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
    <a class="read-more" href="{{ post.url | relative_url }}">Read more &rarr;</a>
  </li>
  {% endfor %}
</ul>
