<header class="site-header">
  <div class="wrapper wrapper-header">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav>
      <a class="page-link" href="{{ '/about/' | relative_url }}">About</a>
      <a class="page-link" href="https://github.com/{{ site.github_username }}">GitHub</a>
      <a class="page-link" href="https://www.linkedin.com/in/r0yrishabh/">LinkedIn</a>
      <a class="page-link" href="{{ '/feed.xml' | relative_url }}">RSS</a>
    </nav>
    <p class="site-tagline">{{ site.tagline }}</p>
  </div>
</header>
